<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-success m-b-10" ui-sref="^.detail({id: ''})">Create</button>
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">Index</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Response Id</th>
                                <th>User Id</th>
                                <th>Questionnaire Id</th>
                                <th>Date Created</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="response in $ctrl.questionnaireResponses">
                                <td>{{response._id}}</td>
                                <td>{{response.userId}}</td>
                                <td>{{response.questionnaireId}}</td>
                                <td>{{response.dateCreated}}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-default" ui-sref="^.detail({id: response._id})" aria-controls="data-table">
                                            <span>Edit</span>
                                        </a>
                                        <a class="btn btn-danger" ng-click="$ctrl.confirmDeactivate($index)" aria-controls="data-table">
                                            <span>Delete</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
